
<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p>
  <input
    #query
    (keyup)="filter(query.value)"
    type="text" class="form-control" placeholder="Search...">
</p>

<ngx-datatable
  #tableResource
  class="bootstrap"
  [rows]="products"
  [headerHeight]="50"
  [footerHeight]="50"
  rowHeight="auto"
  limit="10"
  >
  <ngx-datatable-column width="30">
    <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
      <strong>{{ rowIndex+1 }}</strong>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="title"
    name="Title"
    >
  </ngx-datatable-column>
  <ngx-datatable-column
    prop="price"
    name="Price"
    >
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value | currency:'USD':'symbol' }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    prop="key"
    name=""
    sortable="false"
    >
    <ng-template let-value="value" ngx-datatable-cell-template>
        <a [routerLink]="['/admin/products/', value]">Edit</a>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
